@import "colors";
@import "fonts";
@import "mixins";
@import "breakpoints";

*{
    margin:0px 0px;
    padding: 0px 0px;
    box-sizing: border-box;
    font-family: $main-font;
}

.question {
    padding: 25px;
}
